{% extends 'base.html' %}
{% block body %}
<h1>
{{ series.name }}
</h1>
<form action="{% url 'movies:like' series.pk %}" method="POST" class="d-inline">
      {% csrf_token %}
      <button>
        좋아요취소..
      </button>
      <button>
        좋아요..!!
      </button>
</form>
{% for movie in movies %}
<a href="{% url 'movies:movie_detail' series.pk movie.pk %}">
{{ movie.title }}
</a>
<br>
<img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="">
<br>
{{ movie.vote_average }}
{% endfor %}
{% endblock %}