{% extends 'base.html' %}
{% load static %}
{% load order_by %}
{% block head %}
<link rel="stylesheet" type="text/css" href="//kenwheeler.github.io/slick/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//kenwheeler.github.io/slick/slick/slick-theme.css" />
<script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//kenwheeler.github.io/slick/slick/slick.min.js"></script>
<link rel="stylesheet" href="//unpkg.com/swiper/css/swiper.css">
<link rel="stylesheet" href="//unpkg.com/swiper/css/swiper.min.css">
<script src="//unpkg.com/swiper/js/swiper.js"></script>
<script src="//unpkg.com/swiper/js/swiper.min.js"></script>
{% endblock %}
{% block css %}
h2{
  position: absolute;
         top:20%;
         left:50%;
         transform: translate(-50%, -50%);                                                                   
         font-size:5rem;
         color: white;
         z-index: 2;
         text-align: center;
}
h3{
  padding-right:10px;
}
.text{
cursor: default;
  overflow: hidden;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 20vh;;
  display: block;
  margin-top: 30vh;
  margin-bottom: 5vh;
  font-size: 25px;
}
.copyh1{
  font-size: 5vh;
  margin-top: 20px;
}
​
​
.textt{
cursor: default;
  overflow: hidden;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 12vh;
  display: block;
  margin-top: 1000vh;
}
h1 {
  cursor: default;
  overflow: hidden;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 12vh;
  display: block;
  margin-top: 2vh;
  
}
h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  -webkit-animation: bounce 0.5s ease infinite alternate;
  font-size: 5vh;
  color: #743E3E;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
​
}
​
h1 span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
​
h1 span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}
​
h1 span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}
​
h1 span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}
​
h1 span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}
​
h1 span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}
​
h1 span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}
​
h1 span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}
​
h1 span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}
​
h1 span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}
​
h1 span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}
​
h1 span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}
​
h1 span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

.swiper-container {
      overflow: hidden;
      width: 100%;
      padding-top: 5vh;
      padding-bottom: 5vh;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }
  .movies {
    padding: 0;
    border: none;
    background: none;
  }
 .movies:link { 
   color: black; 
   text-decoration: none;
   }
 .movies:visited {
    color: black; 
    text-decoration: none;
    }
 .movies:hover { 
   color: rgb(60, 116, 108); 
   text-decoration: none;
   }
.background-change-wrap {
  text-align: center;
  height: 300vh;
}
.background-change-wrap > div {
  overflow: hidden;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
.background-change-wrap > div > img {
  position: sticky;
  width: 100%;
  object-fit: cover;
}
{% endblock %}
{% block body %}
<section class="background-change-wrap">

<div>
<img src="{% static '/logo/main.jpg' %}" alt="main" height="100%">
<h2 style="position:absolute">Just Scrol!l!l</h2>
</div>
<div style='margin-bottom:20px;'>
<p class="text" style="text-align:center">영화 시리즈 추천 페이지입니다.<br>
원하시는 시리즈가 없다면 <a href="{% url 'series:suggest' %}"><span class="copyh1">건의</span>하기</a>를 이용하세요~
<br>
</p>
<p class="textt" style="margin-top:23vh; text-align:center">지영이천사</p>
<div style="margin-top:10vh; padding-right:80px">
<p style="text-align:right">made_by : song na en<p>
<p style="text-align:right">           ssa bo gum</p>
</div>

</section>
{% for s in series %}
<section class="background-change-wrap">
<div>
<img src="//image.tmdb.org/t/p/original/{{ s.backdrop_path }}" alt="{{ s.name }} backdrop path" height="100%">
</div>
<div class="m-5" style="width:95%" id="{{ s.pk }}">
<br>
<br>
<br>
<h1 >
{% for text in s.name %}
<span >
{{ text }}  
</span>
{% endfor %}
</h1>
{% if user.is_authenticated %}
{% if user in s.like_users.all %}
    <button class="btn btn-primary" id='like-button' data-id="{{ s.pk }}">옆구리에 빼기</button>
    {% else %}
    <button class="btn btn-primary" id='like-button' data-id="{{ s.pk }}">옆구리에 추가</button>
    {% endif %}
<button class="btn btn-primary" data-toggle="modal" data-target="#series-{{ s.pk }}">옆구리에 추가한 사람들</button>
{% endif %}
<div class="swiper-container" > 
    <div class="swiper-wrapper">
      {% for movie in s.movie_set.all|order_by:"release_date" %}
      <div class="swiper-slide" style="border-radius: 1%; width:40vh; height:56vh; background-color:#ffffff">
      <form action="{% url 'series:detail' s.pk %}">
      <button type="submit" class="movies">
      <input type="hidden" name="movie_pk" value="{{movie.pk}}">
      {% if movie.poster_path %}
      <img src="//image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="mt-2 mb-1" style="border-radius: 1%; width:35vh; height:48vh;" alt="">
      {% else %}
      <img src="//image.tmdb.org/t/p/w500/{{ s.poster_path }}" class="mt-2 mb-1" style="border-radius: 1%; width:35vh; height:48vh;" alt="">
      {% endif %}
      </button>
      </form>
      <h3 style="font-size:3vh; margin: 1vh;" >{{ movie.title }}</h3>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
</section>
<div class="modal" tabindex="-1" role="dialog" id="series-{{ s.pk }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ s.name }} 추가한 사람들 [<span id="cnt-{{ s.pk }}">{{ s.like_users.count }}</span>명]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id='list-{{ s.pk }}' class="modal-body">
        {% for u in s.like_users.all %}
        {% if u == user %}
        <p id='{{ u }}'>{{ u }}</p>
        {% endif %}
        {% endfor %}
        {% for u in s.like_users.all %}
        {% if u in user.followings.all %}
        <p><a href="{% url 'accounts:detail' u.pk %}">{{ u }}</a>
        <button class="btn btn-sm btn-primary" id="follow-button" data-id="{{u.pk}}">팔로우 취소</button>
        </p> 
        {% endif %}
        {% endfor %}
        {% for u in s.like_users.all %}
        {% if u not in user.followings.all and u != user %}
        <p>{{ u }}
        <button class="btn btn-sm btn-primary" id="follow-button" data-id="{{u.pk}}">팔로우</button>
        </p>
        {% endif %}
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>
let ticking = false;

function isElementUnderBottom(elem, triggerDiff) {
  const { top } = elem.getBoundingClientRect();
  const { innerHeight } = window;
  return top > innerHeight + (triggerDiff || 0);
}

function handleScroll() {
  ticking = false;
  
  const changeBgSection = document.querySelectorAll('.background-change-wrap');
  changeBgSection.forEach(elem => {
  const changeBgImg = elem.querySelector('div');
  const {top: bgTop, height: bgHeight} = elem.getBoundingClientRect();
  if (bgTop <= 0) {
    const rate = (-1) * bgTop / 5;
    changeBgImg.style.filter = `grayscale(${rate}%)`;
    changeBgImg.style.opacity = `${(100-rate/5) / 100}`;
    console.log(changeBgImg.style.opacity)
  } else {
    changeBgImg.style.filter = 'none';
    changeBgImg.style.opacity = `1`;
  }
  })
}

function requestTick() {
  if(!ticking) {
    requestAnimationFrame(handleScroll);
  }
  ticking = true;
}

 window.addEventListener('scroll', requestTick);

const likeButton = document.querySelectorAll('#like-button')
  likeButton.forEach(elem => {
  elem.addEventListener('click', function(event){
      console.log(event.target.dataset.id)
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      axios.defaults.headers.common['X-REQUESTED-WITH'] = 'XMLHttpRequest'
      axios.post(`/series/${event.target.dataset.id}/like/`)
        .then(response => {
          const cnt = document.querySelector(`#cnt-${response.data.pk}`)
          cnt.innerText = `${response.data.count}`
          if (response.data.is_liked === 'max') {
            alert("5개 이상 추가할 수 없습니다!")
          }
          else if (response.data.is_liked) {
            $(`#${response.data.user}`).remove()
          event.target.innerText = '옆구리에 추가'
          }
          else {
            console.log(response.data.pk)
            const list = document.querySelector(`#list-${response.data.pk}`)
            const user = document.createElement('p')
            user.id = `${response.data.user}`
            user.innerText = `${response.data.user}`
            list.prepend(user)
            event.target.innerText = '옆구리에 빼기'
          }
        })
      .catch(error => {
        console.log(error)
      })
    })
    })

const followButton = document.querySelectorAll('#follow-button')
  followButton.forEach(elem => {
  elem.addEventListener('click', function(event){
      console.log(event.target.dataset.id)
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      axios.defaults.headers.common['X-REQUESTED-WITH'] = 'XMLHttpRequest'
      axios.post(`/accounts/${event.target.dataset.id}/detail/following/`)
        .then(response => {
          if (response.data.is_follow) {
          event.target.innerText = '팔로우'
          }
          else {
            event.target.innerText = '팔로우 취소'
          }
        })
      .catch(error => {
        console.log(error)
      })
    })
    })

const chat = document.querySelectorAll('#room-name-submit')
    chat.forEach(elem => {
      elem.onclick = function(e) {
            var roomName = elem.value;
            window.location.pathname = '/series/' + roomName + '/room/';
        };
    })
    
</script>
<script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 30,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>
{% endblock %}
