{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css" />
<script src="http://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://kenwheeler.github.io/slick/slick/slick.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
<link rel="stylesheet" href="path/to/swiper.min.css">
<script src="https://unpkg.com/swiper/js/swiper.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
{% endblock %}
{% block css %}
.swiper-container {
      overflow: hidden;
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }
 .movies:link { 
   color: black; 
   text-decoration: none;
   }
 .movies:visited {
    color: black; 
    text-decoration: none;
    }
 .movies:hover { 
   color: rgb(60, 116, 108); 
   text-decoration: none;
   }
.background-change-wrap {
  text-align: center;
  height: 300vh;
}
.background-change-wrap > div {
  overflow: hidden;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
.background-change-wrap > div > img {
  position: sticky;
  width: 100%;
  object-fit: cover;
}
h1 {
  overflow: hidden;
  text-align: center;
  position: sticky;
}
{% endblock %}
{% block body %}
{% for s in series %}
<section class="background-change-wrap">
<div>
<img src="https://image.tmdb.org/t/p/w500/{{ s.backdrop_path }}" alt="{{ s.name }} backdrop path" height="100%">
</div>
<div class="m-5" style="hight:300vh; width:95%" id="{{ s.pk }}">
<br>
<br>
<br>
<br>
<br>
<h1>
{{ s.name }}
</h1>

<div class="swiper-container" > 
    <div class="swiper-wrapper">
      {% for movie in s.movie_set.all %}
      <div class="swiper-slide" style="border-radius: 1%; width:30vw; height:62vh; background-color:#ffffff">
      <a class="movies" href="{% url 'series:movie_detail' movie.pk %}">
      {% if movie.poster_path %}
      <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="m-2" style="border-radius: 1%; width:28vw; height:52vh;" alt="">
      {% else %}
      <img src="{% static 'logo/noimage.png' %}" style="border-radius: 1%; width:25vw; height:40vh; margin:50px 8px;" alt="">
      {% endif %}
      </a>
      <h3 class="m-3">{{ movie.title }}</h3>
      </div>
      {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>
<!-- Slider main container -->
</section>
{% endfor %}

<script src="path/to/swiper.min.js"></script>

<script>
let ticking = false;

function isElementUnderBottom(elem, triggerDiff) {
  const { top } = elem.getBoundingClientRect();
  const { innerHeight } = window;
  return top > innerHeight + (triggerDiff || 0);
}

function handleScroll() {
  ticking = false;
  
  const changeBgSection = document.querySelectorAll('.background-change-wrap');
  changeBgSection.forEach(elem => {
  const changeBgImg = elem.querySelector('div');
  const {top: bgTop, height: bgHeight} = elem.getBoundingClientRect();
  if (bgTop <= 0) {
    const rate = (-1) * bgTop / 5;
    changeBgImg.style.filter = `grayscale(${rate}%)`;
    changeBgImg.style.opacity = `${(100-rate/5) / 100}`;
    console.log(changeBgImg.style.opacity)
  } else {
    changeBgImg.style.filter = 'none';
    changeBgImg.style.opacity = `1`;
  }
  })
}

function requestTick() {
  if(!ticking) {
    requestAnimationFrame(handleScroll);
  }
  ticking = true;
}

 window.addEventListener('scroll', requestTick);

</script>
<script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 30,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>
{% endblock %}
